<!---EXPERIENCIA-->
<section id="experiencia" class="experiencia">
    <div class="container">
        <h1 class="titulo1">Experiencia Laboral</h1>
        <div class="row">
            <div class="col-md-3 log">
                <img src="../../../assets/img/camara.png" alt="">
            </div>
            <div class="col-md-8 exp">
                <h4 class="titulo">Grupo SIMA</h4>
                <p class="parrafo1">Noviembre 2014- actualidad</p>
                <ul>
                    <li>Diseño y seguimiento de las tareas de implementacion de sistemas de Seguridad Eletronica</li>
                    <li>Coordinación de equipos asociados al proyecto.</li>
                    <li>Velar para que el proyecto se ejecute en el tiempo y presupuesto establecido.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 log">
                <img src="../../../assets/img/alarma-casa.png" alt="">
            </div>
            <div class="col-md-8 exp">
                <h4 class="titulo">A&S Seguridad Eletronica </h4>
                <p class="parrafo1">Enero 2012 - Septiembre 2013</p>
                <ul>
                    <li>Instalación y mantenimiento de sistemas de seguridad Eletronica.</li>
                    <li>Coordinacion de equipos técnicos.</li>
                </ul>
            </div>
        </div>
    </div>