<section id="educacion" class="educacion">
    <div class="container">
        <h4 class="titulo1">Educación</h4>
        <div class="row">
            <div class="col-md-4 log ">
                <!--<i class="fa fa-camera-cctv fa-5x" aria-hidden="true"></i>-->
                <i class="fa fa-bandcamp fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
                <h4 class="titulo">Universidad Tecnologica Nacional (UTN)</h4>
                <ul>
                    <li>Tecnico en Seguridad Eletronica</li>
                    <li class="parrafo1">2014</li>

                </ul>
            </div>
        </div>
    </div>
</section>